# Cursor
*.cursor
*.cursorrules

# node / pnpm
node_modules/
.pnpm-store/
.pnp.*

# builds
dist/
build/
coverage/

# env & local
.env
*.env
.env.local
.env.*.local

# logs & misc
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# prisma
prisma/dev.db
*.db-journal

# editor
.idea/
.vscode/